/* CSS Document */
@font-face {
  font-family: 'BYekan';
  src: url('../fonts/IRANSansWeb.eot?#') format('eot'),  /* IE6–8 */
       url('../fonts/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	   url('../fonts/IRANSansWeb.woff2') format('woff2'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/  
       url('../fonts/IRANSansWeb.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {
  font-family: 'BYekanl';
  src: url('../fonts/IRANSansWeb_Light.eot?#') format('eot'),  /* IE6–8 */
       url('../fonts/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	   url('../fonts/IRANSansWeb_Light.woff2') format('woff2'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/  
       url('../fonts/IRANSansWeb_Light.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
 
* {
}
 .noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
body {
    background-attachment: fixed;
    background-color: #e4e4e4;
  font-family: 'BYekan';
      font-size: 13px !important;
      font-family: 'BYekan', cursive, sans-serif !important;
  
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
}

@media screen and (min-aspect-ratio: 1/1) and (min-width: 400px) {
.app {
    background-position: left center;
    margin: -90px 0 0 -198px;
    padding: 75px 0 75px 170px;
}
}
h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    overflow: visible;
    padding: 0;
    text-align: center;
}
.event {
    border-radius: 4px;
    color: #ffffff;
    font-size: 12px;
    margin: 0 30px;
    padding: 2px 0;
}
.event.listening {
    background-color: #333333;
    display: block;
}
.event.received {
    background-color: #4b946a;
    display: none;
}
@keyframes fade {
0% {
    opacity: 1;
}
50% {
    opacity: 0.4;
}
100% {
    opacity: 1;
}
}
.blink {
    animation: 3000ms ease 0s normal none infinite running fade;
}
#Logo {
    display: block !important;
    margin: 1em auto 0 !important;
    width: 75% !important;
}
.gray {
    background-color: #e9e9e9 !important;
	border-color: #CCC !important;
    color: #333 !important;
    text-shadow: 0 1px 0 #CCC !important;
}
.gray_d {
background-color: #fbfbFb !important;
    border-right: 3px solid #CCC !important;
    color: #333 !important;
    text-shadow: 0 1px 0 #DEDEDE !important;
    border-radius: 5px 0px 0px 5px;
}
.green {
    background-color: #3cbd58 !important;
    border-color: #999 !important;
    color: #fff !important;
    text-shadow: 0 1px 0 #999 !important;
	 font-family:'BYekan' !important;
}

.border-tb {
    border-bottom: 1px solid #bbb;
    border-top: 1px solid #bbb;
}
.wid50{width:50% !important
}
.right li a {
    text-align: right !important;
}
@media only screen and (max-device-width: 400px) {
.roydad {
    height: 23px;
    width: 170px;
}
}
.red {
    background-color:#F33 !important;
    border-color: #f80157 !important;
    color: #fff !important;
    text-shadow: 0 1px 0 #f33 !important;
}
.blue {
    background-color:#1680b5 !important;
    border-color: #1680b5 !important;
    color: #fff !important;
    text-shadow: 0 0px 0 #069 !important;
}
.red_gra {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(250, 31, 97, 0), rgba(250, 31, 97, 1)) repeat scroll 0 0;
}
.right {
    direction: rtl !important;
    text-align: justify !important;
	
}
.font_big {
	font-size:21px !important;
	font-family:'BYekan';
	
}
.last {
    border-right: 6px solid #903 !important;
	border-left: 6px solid #903 !important;
    margin-bottom: 0 !important;
    padding: 0.3em 1em !important;
    text-align: center !important;
}
.last2 {
    border-right: 6px solid #039 !important;
	border-left: 6px solid #039 !important;
    margin-bottom: 0 !important;
    padding: 0.3em 1em !important;
    text-align: center !important;
}
.pad1{padding:5px 28px !important}
.pad2{padding:5px 62px !important}
.rooz{
  padding: 1px 0 !important;
	width:99% !important;
	max-height:200px !important;
     min-height:36px !important;

	 background: rgba(0, 0, 0, 0) url("../res/text/rooz.png") no-repeat  right 8px center;
	 
}
/*.ui-panel.ui-panel-open {
    position:fixed !important;
}

.ui-panel .ui-panel-inner {
  	position:absolute;
} */
.twit{
	 background: rgba(0, 0, 0, 0) url("../res/text/twit.png") no-repeat  right 8px center;
	 font-family:'BYekan';
	padding: 0.2em 0.3em !important;
	font-size:19px !important;
}
.sinma{
	 background: rgba(0, 0, 0, 0) url("../res/text/sinma.png") no-repeat  right 8px center;
	 font-family:'BYekan';
	padding: 0.2em 0.3em !important;
	font-size:19px !important;
      margin-top: 0px !important;
}
.about{
	 background: rgba(0, 0, 0, 0) url("../img/about.png") no-repeat  right 6px center;
}

.favorite{
	 background: rgba(0, 0, 0, 0) url("../img/favorite.png") no-repeat  right 6px center;
}
.car{
	 background: rgba(0, 0, 0, 0) url("../img/car.png") no-repeat  right 6px center;
}
.add{
	 background: rgba(0, 0, 0, 0) url("../img/folder.png") no-repeat  right 6px center;
}
.contact{
	 background: rgba(0, 0, 0, 0) url("../img/content.png") no-repeat  right 6px center;
}
.listco{
	 background: rgba(0, 0, 0, 0) url("../img/settings.png") no-repeat  right 6px center;
}
.car3{
	 background: rgba(0, 0, 0, 0) url("../img/placeholder.png") no-repeat  right 6px center;
}
.car4{
	 background: rgba(0, 0, 0, 0) url("../img/eye.png") no-repeat  right 6px center;
}
.pdf{
	 background: rgba(0, 0, 0, 0) url("../img/open-book.png") no-repeat  right 6px center;
}
.filem{
	 background: rgba(0, 0, 0, 0) url("../img/filem.png") no-repeat  right 6px center;
}
.listm{
	 background: rgba(0, 0, 0, 0) url("../img/listm.png") no-repeat  right 6px center;
}

.help{
     background: rgba(0, 0, 0, 0) url("../img/help.png") no-repeat  right 6px center;
}
.credit-card{
     background: rgba(0, 0, 0, 0) url("../img/credit-card.png") no-repeat  right 6px center;
}
.links{
     background: rgba(0, 0, 0, 0) url("../img/chains.png") no-repeat  right 6px center;
}
.helpt {
    background: rgba(0, 0, 0, 0) url("../img/help.png") no-repeat right 6px center;
    padding-right: 40px;
    color: #888 !important;
}
.tick {
    background: rgba(0, 0, 0, 0) url("../img/car2.png") no-repeat right 6px center;
    padding-right: 40px !important;
  
}
.infoe {
    background: rgba(0, 0, 0, 0) url("../img/office-block.png") no-repeat right 6px center;
    padding: 35px 35px 35px 0 !important;
  
}
.info {
    background: rgba(0, 0, 0, 0) url("../img/info.png") no-repeat right 6px center;
	padding:25px 25px 25px 0 !important;
  
}
.panels li a{
	padding-right:35px !important;
	background-color:#EBEBEB !important;
}

.last p img{
	width:142px !important;
	height:20px !important;
}
.rooz p{
	text-align:justify;
	padding: 0px 10px 0px 10px;
		font-family:'BYekan' ;
		color:#333;
		
}
.fred{font-size: 14px !important; color: #222; }
.fgreen{font-size: 17px !important; color: #666666 !important;}
p,li,input{
	 font-family:'BYekan' !important;
	 direction:rtl;
}
li a{
font-family:'BYekan' !important;
font-size:17px !important;
font-weight: normal!important;
}
h1,h2{
	 font-family:'BYekan',cursive, sans-serif !important;	
}
h2{
    color: #666 !important;
    margin: 15px 5px !important;
}
h3{
	 font-family:'BYekan' !important;
	 font-size:16px !important;
font-weight: normal!important;
color:#036 !important;	
}
h4{
	color:#036 !important;
	font-size:19px !important;
}
.pad_h1 {
    padding: 0.3em !important;
}
.postx p,h4{
	margin:5px 0 !important;
}
.post{
	color:#666; !important;
	margin:5px 0 !important;
}
.dates{
	color:#FFF; !important;
	margin:5px 0 !important;
	padding:3px !important;
	background-color:#39C !important;
	text-shadow: 0 1px 0 #666 !important; 
}
.dispno{display:none ;}
.displi{display:inline ;}
.pad_ha {
    padding: 0.3em !important;
}
.offline{
	visibility:visible !important;
}
.online{
	visibility:hidden;
	display:none !important;
	z-index:-1000 !important
}
.loader{margin:0 auto ;
margin-right:100px;
}
.backoff{
    background-color: #000000 !important;
    height: 1984px;
    left: 0;
    opacity: 0.5 ;
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    z-index: 9999 !important;
}
.elemnts{
  background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    display: block;
    height: auto;
    left: 100px;
	right:auto;
    position: absolute;
    top: 100.5px;
    width: 150px;
	padding:10px;
    word-wrap: break-word;
    z-index: 10000;
	}
.margint0{margin-top: 0px !important;}   
ul li a{
	text-decoration:none !important;
}

ul li a:active{
	background-color:#f3f3f3 !important;
	
}
@media only screen and (max-device-width: 400px) {
.font_size17{
	font-size:19px !important;
    margin: 0.4em 1.1125em !important;
	padding: 0.4em 1em !important;
}
}
@media only screen and (min-device-width: 400px) {
.font_size17{
	font-size:21px !important;
	    margin: 0.5em 2.3125em !important;
		padding: 0.4em 1em !important;
}
}

.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: right;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    color :#999;
}
.menu li:hover {
   color: #0099cc;
}
.ui-listview>.ui-li-has-thumb>.ui-btn, .ui-listview>.ui-li-static.ui-li-has-thumb{padding-left:5px; padding-right:90px;}
.ui-listview .ui-li-has-thumb>img:first-child, .ui-listview .ui-li-has-thumb>.ui-btn>img:first-child, .ui-listview .ui-li-has-thumb .ui-li-thumb{right:5px;}
.ui-input-text input, .ui-input-search input{text-align:right; direction:rtl; padding-right:20px;}
.ui-block-a, .ui-block-b, .ui-block-c, .ui-block-d, .ui-block-e {
    border:1px solid #C5C3C3 !important;
	border-radius:4px;
    text-align: center;
    padding:  0px !important;
	margin:4px !important;
}
.ui-grid-a > .ui-block-a, .ui-grid-a > .ui-block-b {
    width: 48% !important;
	
}
.ui-block-a .ui-btn, .ui-block-b .ui-btn, .ui-block-c .ui-btn, .ui-block-d .ui-btn, .ui-block-e .ui-btn {
	margin:0 !important;
	border-radius:4px;
	font-size: 12px !important;
	border:none !important;
    padding:  3px 2px !important;
}
.ui-grid-c>.ui-block-a, .ui-grid-c>.ui-block-b, .ui-grid-c>.ui-block-c, .ui-grid-c>.ui-block-d {
    width: 23.5% !important;
    text-align: right;
    float: right;
	margin:2px !important;
}
.ui-btn-active{
	 color:#2DB4ED !important;
}
.ui-grid-b>.ui-block-a, .ui-grid-b>.ui-block-b, .ui-grid-b>.ui-block-c {
     text-align: right;
    float: right;
    width: 31.733% !important;
	margin:2px !important;
}
.ui-mobile label, div.ui-controlgroup-label {
    font-weight: 400;
    font-size: 14px !important;
}
.ui-input-text input, .ui-input-search input{text-align:right !important; padding: 0.4em !important; font-size: 14px !important;}
.ui-header .ui-title, .ui-footer .ui-title{font-size: 17px !important;    padding: .4em 0 .2em !important; min-height: 1.4em !important;
    margin: 0 25% !important;}
.ui-btn-left, .ui-btn-right {
    top: 0.33em !important;
}
.nbord .ui-block-a, .nbord .ui-block-b, .nbord .ui-block-c, .nbord .ui-block-d, .nbord .ui-block-e {
     border: none !important;  
    border-radius: 4px;
    text-align: right; 
    padding: 0px !important;
    margin: 4px !important;
}
.ui-panel-inner h2{margin: 25px 0 !important;}
.ui-listview>.ui-li-has-thumb>.ui-btn, .ui-listview>.ui-li-static.ui-li-has-thumb {
    min-height: 2.8em !important;
    padding-left: 1.25em !important;
}
.ui-mobile a img, .ui-mobile fieldset {
    border-width: 0;
}
.ui-controlgroup-controls .ui-btn-corner-all, .ui-controlgroup-controls .ui-btn.ui-corner-all {
    margin: 0 !important;
	 padding: 8px 35px !important;
}
.ui-header .ui-btn-left, .ui-header .ui-btn-right {
    font-size: 9.5px !important;
    padding: 3px 5px !important;
}
.ui-listview .ui-li-has-thumb>img:first-child, .ui-listview .ui-li-has-thumb>.ui-btn>img:first-child, .ui-listview .ui-li-has-thumb .ui-li-thumb{
        border-radius: 50%;
    box-sizing: content-box;
    margin-bottom: 5px;
    margin-right: 8px;
    margin-top: 5px;
    max-height: 3.6em !important;
    max-width: 3.6em !important;
}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    background-color: #ffffff !important;
    border-color: #fff !important;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3;
}
.ui-panel-inner{background-color: rgba(204, 204, 204, 0.15);
}

.h2p{color: #fff !important; text-shadow:0px 0px 0px #222 !important;}
.panels a{font-size: 12px !important;  font-family: 'BYekanl'; line-height: 28px; color: #555}
.panels{ margin-top:0px !important;}
.md-toolbar-tools {
    height: 48px;
    max-height: 48px;
}
.md-toolbar-tools {
    font-size: 20px;
    letter-spacing: .005em;
    box-sizing: border-box;
    font-weight: 400;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    height: 52px;
    max-height: 64px;
    padding: 0 16px;
    margin: 0;
}
.md-toolbar-tools {
    text-align: right !important;
    font-size: 14px !important;  
    background-color: rgb(255,87,34);
    color: rgb(255,255,255);
}
.center {
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    direction: ltr;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    margin: 4px;
    padding: 5px 8px 6px;
    text-align: left;
    text-decoration: none;
}
.acc {
    background: #058dc7 none repeat scroll 0 0;
}
.colorw{color: #fff !important; font-weight:normal !important;} 
p{text-align: justify; line-height: 20px !important;}

.bloader img{ position:relative; }
.bloader span{ position:absolute; left:15px; top:0; z-index:1000}
.bloader{position:relative !important; display:none;}
.wid1 span{ visibility: hidden;}
.wid1{padding: 7px 23% !important;
    margin: 0 15px 0 0px}
.loader{margin:0 auto ;
margin-right:100px;
}
.mergicon{padding: 10px;} 	
.backoff{
    background-color: #000000 !important;
    height: 1984px;
    left: 0;
    opacity: 0.5 ;
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    z-index: 9999 !important;
}
/*---------------------------- start toast----------------------------------------------------*/

.toast_material{
  background-color: #000;
  height: auto;
  min-width: 100px;
  max-width: 300px;
  z-index: 90;
  border-radius: 2px;
  opacity: 1;
  position: fixed;
  padding: 14px 16px;
  bottom:50px !important ;
  left: 60%;
  margin-left:-50px;
  box-sizing: border-box;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
text-shadow: 0 0px 0 #f3f3f3 !important;
  background-color: #323232;
      border-radius: 10px;
}
.toast_material p{
    font-family:'BYekan' !important;
  padding: 5px 16px;
  color: #fff;
  font-size: 16px;
  font-family: inherit;
  margin: 0;
  width: 100%;
}
@media (max-width: 768px){
  .toast_material{
left: 50%;
  margin-left:-130px;
    border-radius: 12px;
  }
  .toast_material p{
    padding: 0px 12px;
    font-size: 12px;
  }
}
.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}
/*---------------------------- end toast----------------------------------------------------*/
    
.ui-page-theme-a .ui-btn.ui-btn-active, html .ui-bar-a .ui-btn.ui-btn-active, html .ui-body-a .ui-btn.ui-btn-active, html body .ui-group-theme-a .ui-btn.ui-btn-active, html head+body .ui-btn.ui-btn-a.ui-btn-active, .ui-page-theme-a .ui-checkbox-on:after, html .ui-bar-a .ui-checkbox-on:after, html .ui-body-a .ui-checkbox-on:after, html body .ui-group-theme-a .ui-checkbox-on:after, .ui-btn.ui-checkbox-on.ui-btn-a:after, .ui-page-theme-a .ui-flipswitch-active, html .ui-bar-a .ui-flipswitch-active, html .ui-body-a .ui-flipswitch-active, html body .ui-group-theme-a .ui-flipswitch-active, html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active, .ui-page-theme-a .ui-slider-track .ui-btn-active, html .ui-bar-a .ui-slider-track .ui-btn-active, html .ui-body-a .ui-slider-track .ui-btn-active, html body .ui-group-theme-a .ui-slider-track .ui-btn-active, html body div.ui-slider-track.ui-body-a .ui-btn-active {
    background-color: #f3f3f3 !important;
    border-color: #f6f6f6 !important;
    color: #999 !important;
    text-shadow: 0 0px 0 #059 !important;
}   

.ui-listview>li h1, .ui-listview>li h2, .ui-listview>li h3, .ui-listview>li h4, .ui-listview>li h5, .ui-listview>li h6 {
    font-size: 14px !important;
    font-weight: normal !important;
	
}
#sherkat h2, #mashinha h2{
	    margin-right: 55px !important;
}
.ui-listview li .font17{font-size:15px !important;}	
.ui-listview  .shobe {padding:0px 15px !important;}
.ui-listview  span {
	color:#AB1197;
}
.updates{background-color:#FF3366; padding:5px; display:none;    margin: -13px -13px 0; color:#fff; font-size:13px;}
.updates a{ color:#fff !important; text-decoration:none;font-weight:normal !important;  font-size:13px;}

.ui-mobile label, .ui-controlgroup-label {
    margin: 1em 0 0.4em !important;
}
.ui-checkbox .ui-btn, .ui-radio .ui-btn {
    text-align: right !important;
    font-size: 13px !important;
}
.postx p, h4 {
     margin: 0px 0 !important; 
	 text-align:right !important; 
}
.ui-collapsible-heading .ui-btn {
    text-align: right !important;
}
.ui-grid-a > .ui-block-a, .ui-grid-a > .ui-block-b {
    width: 47% !important;
	float: right !important;
}
.ui-grid-a p {
    text-align: justify;
    line-height: 14px !important;
	padding:0 10px;
}
.ui-content {
    padding: 1em 1em  !important;
}

.mohaseb{
    font-size: 17px;
    margin: .5em 0;
    padding: .7em 1em;
    border: 4px solid  #1680b5;
    border-radius: 3px;
    color:#1680b5;
    text-shadow: 0 0 !important;
    }
.ui-listview>li p {
 
    text-overflow: ellipsis !important;
    overflow: visible !important;
    white-space: normal !important;
}
.googlea{
      padding: 5px 30px;
    border-radius: 3px;
}
.pdp-default {
  width: 85% !important;
}
.imgpa{
	float:right;
	margin-bottom:5px;}
.margb20{margin-bottom:20px !important}
.ui-btn-icon-left:after {
    right: .5625em !important;
	left:auto !important;
}
.ui-btn-icon-left {
    padding-right: 2.5em !important ;
	padding-left: 0 !important;
}
#radioGroup .wrap {
  display: inline-block;
}
#radioGroup label {
  display: block;
  text-align: center;
  margin: 0 0.4em;
  font-family:BYekan;
}
#radioGroup input[type="radio"] {
  display: block;
}
.ui-checkbox input, .ui-radio input {
    position: absolute;
    right: 0.466em;
    top: 50%;
    width: 22px;
    height: 22px;
    margin: -11px 0 0 0;
    outline: 0!important;
    z-index: 1;
}
.margtb10{margin:10px 30%;}
.ui-btn, label.ui-btn {
    font-weight: 700;
    border-width: 1px;
    border-style: solid;
    padding: 8px 30px !important;
}
.ui-checkbox input, .ui-radio input {
    position: absolute;
    left: .466em;
    top: 50%;
    width: 22px;
    height: 22px;
    margin: -11px 0 0 0;
    outline: 0!important;
    z-index: 2 !important;
}
a.disabled {
	    background-color: #F8CBCB !important;
    pointer-events: none;
	cursor:default;
}