<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" type="text/css" href="css/index.css" />
<link rel="stylesheet" href="css/jquery.mobile-1.4.5.min.css">
<link href="css/owl.carousel.css" rel="stylesheet">
<link href="css/owl.theme.css" rel="stylesheet">
<script src="js/jquery-1.11.3.min.js"></script> 
<script src="js/jquery.mobile-1.4.5.min.js"></script>
<!-- Demo -->
<!-- date-picker -->
 <link rel="stylesheet" href="css/persianDatepicker-default.css" />


<!-- date-picker -->
<script src="js/angular.min.js"></script>
<script src="js/angularjs.js"></script>
<script src="js/angular-sanitize.min.js"></script>
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/index.js"></script> 
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT3CQJy2wn2UVKv_-HNZpg70ZmqrlBQeI&callback=myMap"
    async defer></script>
<title>برنا، دستيار بيمه اي شما</title>
</head>
<body class="noselect" ng-app="App"   ng-controller="CenterCTRL" ng-cloak>
<input  id="inter" style="display:none" value="0" type="text">
<input  id="online" style="display:none" value="1" type="text">
<input  id="update" style="display:none" value="0" type="text">
<input  id="bookid" style="display:none" value="0" type="text">
<input  id="shobeid" style="display:none" value="0" type="text">
<input  id="bazdidid" style="display:none" value="0" type="text">
<!------------------------------------- register-------------------------------------------------->
<div data-role="page" id="register" data-theme="a" >
<div data-role="header" class="blue ">
<a onclick="exitFromApp()" class="pad_ha" data-role="none"><img src="img/logout.png"></a>
<h1>فعالسازی برنامه</h1>
<!--<a href="#myPanel" class="pad_ha" data-role="none"><img src="img/menu.png"></a>-->
</div>

<div data-role="main" class="ui-content">
<p>لطفا جهت ورود به برنامه کد فعالسازی خریداری شده را وارد نمایید.</p>
<input ng-model="user.code" type="text" placeholder="سریال خریداری شده">
<a ng-click="sabtcode();" class="ui-btn green">ثبت </a>
<!--<a href="#sherkat" class="ui-btn green">ثبت </a>-->
<br />
<br />

<p>در صورتی که کد فعالسازی را تهیه ننموده اید می توانید آن را از طریق زیر خریداری نمایید.</p>
<a  onclick="window.open('http://www.borna-grp.ir/request.php', '_system');"  class="ui-btn green">خرید کد فعالسازی</a>
</div>
</div>

<!------------------------------------- sherkat ha-------------------------------------------------->
<div data-role="page"   id="sherkat">
 <div data-role="panel" data-position-fixed="true" id="myPanel" data-display="overlay" data-position="right">
      <img width="162" height="77" class="imgpa" src="img/{{logosazman}}">  
    <ul data-role="listview" class="right panels"  data-inset="false">  
     <li  data-icon="false"><a class="car3" ng-click="markaz('1')" href="#markaz" data-transition="fade">لیست شعب</a></li>
      <li  data-icon="false"><a class="car4" ng-click="bazdid('2')" href="#bazdids" data-transition="fade">لیست مراکز بازدید اولیه</a></li>
      <li  data-icon="false"><a class="pdf" ng-click="books('2')" href="#books" data-transition="fade">كتابخانه</a></li>
     <li  data-icon="false"><a class="filem"  href="#h_bime2" data-transition="fade">استعلام نرخ حق بيمه شخص ثالث</a></li>
     <li  data-icon="false"><a class="listm"  href="#yadavar" data-transition="fade">يادآوري تمديد بيمه نامه</a></li>
      <li  data-icon="false"><a class="listco"  href="#sherkat" data-transition="fade">راهنمای بازدید اولیه اتومبیل</a></li>
      <li  data-icon="false"><a onClick="cat(1)" ng-click="comp_id()" class="car" href="#mashinha" data-transition="fade">لیست خودرو ها</a></li>
      <li data-icon="false"><a onClick="cat(2)" class="add" href="#add" data-transition="fade">پیشنهاد افزودن خودرو</a></li>
      <li data-icon="false"><a  ng-click="showfaver()" class="favorite" href="#favert" data-transition="fade">لیست علاقه مندی ها</a></li>
      <li data-icon="false"><a onClick="cat(4)" class="contact" href="#contact" data-transition="fade">تماس با ما</a></li>
      <li data-icon="false"><a class="about" href="#about_us" data-transition="fade">درباره ما</a></li>
       
    </ul>
  </div> 
  <div data-role="header"  class="blue ">
  <a href="#favert"  ng-click="showfaver()" class="pad_ha" data-role="none"><img src="img/file.png"></a>
    <h1>برنا، دستيار بيمه اي شما</h1>
  <a href="#myPanel" class="pad_ha" data-role="none"><img src="img/menu.png"></a>
  
  </div>
  
 <div data-role="main" class="ui-content" dir="rtl" >
 <p class="updates" id="uppo"><a href="#"  onclick="window.open('http://www.borna-grp.ir/borna.apk', '_system');">لطفا نسخه جدید برنامه را دریافت کنید.</a></p>
    <h3 class="margint0" >لیست شرکت های خودرو ساز</h3>

    <form class="ui-filterable">
      <input id="myFilter" data-type="search" placeholder="نام شرکت">
    </form>

    <ul data-role="listview" data-filter="true" data-input="#myFilter"    data-inset="false"  class="right listst">

      <li data-icon="false" ng-repeat="xc in company">
        <a href="#mashinha" onClick="reloads()"  ng-click="comp_id(xc.ids,xc.name)" data-transition="fade">
        <img width="72" height="72" src="{{xc.direct}}{{xc.pic}}">
        <h2>{{xc.name}}</h2>
        </a>
      </li>

    </ul>
  </div>
</div>
<!------------------------------------- mashinha ha-------------------------------------------------->
<div data-role="page"   id="mashinha">

 <div data-role="panel" data-position-fixed="true" id="myPanel2" data-display="overlay" data-position="right">
    <img width="162" height="77" class="imgpa" src="img/{{logosazman}}">  
    <ul data-role="listview" class="right panels"  data-inset="false">  
     <li  data-icon="false"><a class="car3" ng-click="markaz('1')" href="#markaz" data-transition="fade">لیست شعب</a></li>
      <li  data-icon="false"><a class="car4" ng-click="bazdid('2')" href="#bazdids" data-transition="fade">لیست مراکز بازدید اولیه</a></li>
      <li  data-icon="false"><a class="pdf" ng-click="books('2')" href="#books" data-transition="fade">كتابخانه</a></li>
     <li  data-icon="false"><a class="filem"  href="#h_bime2" data-transition="fade">استعلام نرخ حق بيمه شخص ثالث</a></li>
     <li  data-icon="false"><a class="listm"  href="#yadavar" data-transition="fade">يادآوري تمديد بيمه نامه</a></li>
      <li  data-icon="false"><a class="listco"  href="#sherkat" data-transition="fade">راهنمای بازدید اولیه اتومبیل</a></li>
      <li  data-icon="false"><a onClick="cat(1)" ng-click="comp_id()" class="car" href="#mashinha" data-transition="fade">لیست خودرو ها</a></li>
      <li data-icon="false"><a onClick="cat(2)" class="add" href="#add" data-transition="fade">پیشنهاد افزودن خودرو</a></li>
      <li data-icon="false"><a  ng-click="showfaver()" class="favorite" href="#favert" data-transition="fade">لیست علاقه مندی ها</a></li>
      <li data-icon="false"><a onClick="cat(4)" class="contact" href="#contact" data-transition="fade">تماس با ما</a></li>
      <li data-icon="false"><a class="about" href="#about_us" data-transition="fade">درباره ما</a></li>
       
    </ul>
  </div> 

  <div data-role="header"  class="blue ">
   
 <a href="#favert"  ng-click="showfaver()" class="pad_ha" data-role="none"><img src="img/file.png"></a>
  <h1>برنا، دستيار بيمه اي شما</h1>
 <a href="#myPanel2" class="pad_ha" data-role="none"><img src="img/menu.png"></a>
  </div>
  
 <div data-role="main" class="ui-content" dir="rtl" >
    <h3 class="margint0">لیست خودرو ها {{namee}}</h3>
    <form class="ui-filterable">
      <input id="myFilterc" data-type="search" placeholder="نام خودرو">
    </form>
   <ul data-role="listview" data-filter="true" data-input="#myFilterc"  data-inset="false"  class="right listst"   >
 
 <li data-icon="false" class="ng-scope ui-li-has-thumb" ng-repeat="xc in cars | filter:{ company: pageid }:true">
        <a href="#tozihat" class="ui-btn" ng-click="cars_id(xc.ids)" data-transition="fade">
        <img width="72" height="72" src="{{xc.direct}}{{xc.pic}}">
        <h2>{{xc.name}}</h2>
        </a>
      </li>

    </ul>
  </div>
</div>
<!------------------------------------- shobe ha-------------------------------------------------->
<div data-role="page"   id="markaz">

 <div data-role="panel" data-position-fixed="true" id="myPanel2e" data-display="overlay" data-position="right">
    <img width="162" height="77" class="imgpa" src="img/{{logosazman}}">  
    <ul data-role="listview" class="right panels"  data-inset="false">  
     <li  data-icon="false"><a class="car3" ng-click="markaz('1')" href="#markaz" data-transition="fade">لیست شعب</a></li>
      <li  data-icon="false"><a class="car4" ng-click="bazdid('2')" href="#bazdids" data-transition="fade">لیست مراکز بازدید اولیه</a></li>
      <li  data-icon="false"><a class="pdf" ng-click="books('2')" href="#books" data-transition="fade">كتابخانه</a></li>
     <li  data-icon="false"><a class="filem"  href="#h_bime2" data-transition="fade">استعلام نرخ حق بيمه شخص ثالث</a></li>
     <li  data-icon="false"><a class="listm"  href="#yadavar" data-transition="fade">يادآوري تمديد بيمه نامه</a></li>
      <li  data-icon="false"><a class="listco"  href="#sherkat" data-transition="fade">راهنمای بازدید اولیه اتومبیل</a></li>
      <li  data-icon="false"><a onClick="cat(1)" ng-click="comp_id()" class="car" href="#mashinha" data-transition="fade">لیست خودرو ها</a></li>
      <li data-icon="false"><a onClick="cat(2)" class="add" href="#add" data-transition="fade">پیشنهاد افزودن خودرو</a></li>
      <li data-icon="false"><a  ng-click="showfaver()" class="favorite" href="#favert" data-transition="fade">لیست علاقه مندی ها</a></li>
      <li data-icon="false"><a onClick="cat(4)" class="contact" href="#contact" data-transition="fade">تماس با ما</a></li>
      <li data-icon="false"><a class="about" href="#about_us" data-transition="fade">درباره ما</a></li>
       
    </ul>
  </div> 

  <div data-role="header"  class="blue ">
   
 <a href="#favert"  ng-click="showfaver()" class="pad_ha" data-role="none"><img src="img/file.png"></a>
  <h1>برنا، دستيار بيمه اي شما</h1>
 <a href="#myPanel2e" class="pad_ha" data-role="none"><img src="img/menu.png"></a>
  </div>
  
 <div data-role="main" class="ui-content" dir="rtl" >
    <h3 class="margint0">لیست شعب</h3>
    <form class="ui-filterable">
      <input id="myFilterd" data-type="search" placeholder="نام شعبه">
    </form>
   <ul data-role="listview" data-filter="true" data-input="#myFilterd"  data-inset="false"  class="right listst"   >
      <div id="loadim" style="text-align:center"><img src="img/loader1.gif"></div>

 <li data-icon="false" class="ng-scope ui-li-has-thumb" ng-repeat="xc in shobe"  >
        <a   class="ui-btn shobe" ng-click="shob(xc.ids)" data-transition="fade">
        <!--<img width="72" height="72" src="img/4.jpg">-->
        <h2 class="font17">{{xc.name}}</h2>
           
        <p style="display:none" id="shob{{xc.ids}}"> 
        <span>آدرس: </span>{{xc.address}}"<br>
        <span>تلفن: </span>{{xc.tell}}<br>
        <span>مدیر شعبه: </span>{{xc.boss}}<br>
        <span>کد شعبه: </span>{{xc.code}}<br>
        <br>
        <span  href="#google"  ng-click="google(xc.address)" class="green googlea wid50 pad1">نمایش بر روی نقشه</span>
        <span  ng-click="tellb(xc.tell)" class="green googlea wid50 pad2">تماس</span>
    </p></a>
        
      </li>

    </ul>
  </div>

</div>
<!------------------------------------- markaz bazdid ha-------------------------------------------------->
<div data-role="page"   id="bazdids">

 <div data-role="panel" data-position-fixed="true" id="myPanel2c" data-display="overlay" data-position="right">
    <img width="162" height="77" class="imgpa" src="img/{{logosazman}}">  
    <ul data-role="listview" class="right panels"  data-inset="false">  
     <li  data-icon="false"><a class="car3" ng-click="markaz('1')" href="#markaz" data-transition="fade">لیست شعب</a></li>
      <li  data-icon="false"><a class="car4" ng-click="bazdid('2')" href="#bazdids" data-transition="fade">لیست مراکز بازدید اولیه</a></li>
      <li  data-icon="false"><a class="pdf" ng-click="books('2')" href="#books" data-transition="fade">كتابخانه</a></li>
      <li  data-icon="false"><a class="filem"  href="#h_bime2" data-transition="fade">استعلام نرخ حق بيمه شخص ثالث</a></li>
      <li  data-icon="false"><a class="listm"  href="#yadavar" data-transition="fade">يادآوري تمديد بيمه نامه</a></li>
      <li  data-icon="false"><a class="listco"  href="#sherkat" data-transition="fade">راهنمای بازدید اولیه اتومبیل</a></li>
      <li  data-icon="false"><a onClick="cat(1)" ng-click="comp_id()" class="car" href="#mashinha" data-transition="fade">لیست خودرو ها</a></li>
      <li data-icon="false"><a onClick="cat(2)" class="add" href="#add" data-transition="fade">پیشنهاد افزودن خودرو</a></li>
      <li data-icon="false"><a  ng-click="showfaver()" class="favorite" href="#favert" data-transition="fade">لیست علاقه مندی ها</a></li>
      <li data-icon="false"><a onClick="cat(4)" class="contact" href="#contact" data-transition="fade">تماس با ما</a></li>
      <li data-icon="false"><a class="about" href="#about_us" data-transition="fade">درباره ما</a></li>
       
    </ul>
  </div> 

  <div data-role="header"  class="blue ">
   
 <a href="#favert"  ng-click="showfaver()" class="pad_ha" data-role="none"><img src="img/file.png"></a>
  <h1>برنا، دستيار بيمه اي شما</h1>
 <a href="#myPanel2c" class="pad_ha" data-role="none"><img src="img/menu.png"></a>
  </div>
  
 <div data-role="main" class="ui-content" dir="rtl" >
    <h3 class="margint0">لیست مراکز بازدید</h3>
    <form class="ui-filterable">
      <input id="myFilterf" data-type="search" placeholder="نام شعبه">
    </form>
   <ul data-role="listview" data-filter="true" data-input="#myFilterf"  data-inset="false"  class="right listst"   >
      <div id="loadiv" style="text-align:right; float:right"><img src="img/loader1.gif"></div>

 <li data-icon="false" class="ng-scope ui-li-has-thumb" ng-repeat="xc in mbazdid"  >
        <a   class="ui-btn shobe" ng-click="mbaz(xc.ids)" data-transition="fade">
        <!--<img width="72" height="72" src="img/4.jpg">-->
        <h2 class="font17">{{xc.name}}</h2>
        
        <p style="display:none" id="bazdid{{xc.ids}}"> 
        <span>آدرس: </span>{{xc.address}}<br>
        <span >تلفن: </span>{{xc.tell}}<br>
        <span>مدیر شعبه: </span>{{xc.boss}}<br>
        <span>کد شعبه: </span>{{xc.code}}<br>
        <br>
        <span  href="#google"  ng-click="google(xc.address)" class="green googlea wid50 pad1">نمایش بر روی نقشه</span>
        <span  ng-click="tellb(xc.tell)" class="green googlea  wid50 pad2">تماس</span>
    </p>
        </a>
      </li>

    </ul>
  </div>

</div>

<!------------------------------------- books  ha-------------------------------------------------->
<div data-role="page"   id="books">

 <div data-role="panel" data-position-fixed="true" id="myPanelb" data-display="overlay" data-position="right">
   <img width="162" height="77" class="imgpa" src="img/{{logosazman}}">  
    <ul data-role="listview" class="right panels"  data-inset="false">  
     <li  data-icon="false"><a class="car3" ng-click="markaz('1')" href="#markaz" data-transition="fade">لیست شعب</a></li>
      <li  data-icon="false"><a class="car4" ng-click="bazdid('2')" href="#bazdids" data-transition="fade">لیست مراکز بازدید اولیه</a></li>
      <li  data-icon="false"><a class="pdf" ng-click="books('2')" href="#books" data-transition="fade">كتابخانه</a></li>
     <li  data-icon="false"><a class="filem"  href="#h_bime2" data-transition="fade">استعلام نرخ حق بيمه شخص ثالث</a></li>
     <li  data-icon="false"><a class="listm"  href="#yadavar" data-transition="fade">يادآوري تمديد بيمه نامه</a></li>
      <li  data-icon="false"><a class="listco"  href="#sherkat" data-transition="fade">راهنمای بازدید اولیه اتومبیل</a></li>
      <li  data-icon="false"><a onClick="cat(1)" ng-click="comp_id()" class="car" href="#mashinha" data-transition="fade">لیست خودرو ها</a></li>
      <li data-icon="false"><a onClick="cat(2)" class="add" href="#add" data-transition="fade">پیشنهاد افزودن خودرو</a></li>
      <li data-icon="false"><a  ng-click="showfaver()" class="favorite" href="#favert" data-transition="fade">لیست علاقه مندی ها</a></li>
      <li data-icon="false"><a onClick="cat(4)" class="contact" href="#contact" data-transition="fade">تماس با ما</a></li>
      <li data-icon="false"><a class="about" href="#about_us" data-transition="fade">درباره ما</a></li>
       
    </ul>
  </div> 

  <div data-role="header"  class="blue ">
   
 <a href="#favert"  ng-click="showfaver()" class="pad_ha" data-role="none"><img src="img/file.png"></a>
  <h1>برنا، دستيار بيمه اي شما</h1>
 <a href="#myPanelb" class="pad_ha" data-role="none"><img src="img/menu.png"></a>
  </div>
  
 <div data-role="main" class="ui-content" dir="rtl" >
    <h3>کتابخانه</h3>
     <div id="loadii" style="text-align:center"><img src="img/loader1.gif"></div>
    <div class="ui-grid-a ui-responsive"  >
      <div  ng-repeat="xc in mbooks" class="ui-block-{{xc.block}}" >
        <img src="{{xc.direct}}{{xc.pic}}" width="100%" >
        <p style=" text-align:center"><span>عنوان:</span> {{xc.subject}}</p>
        <p style=" text-align:center"><span>نویسنده:</span>{{xc.nvisnde}}</p>
        <p>
        <a  ng-click="dowbooks(xc.direct,xc.link,xc.ids)" class="green googlea wid1">مشاهده <span style="visibility:hidden" id="bloader{{xc.ids}}">0</span></a>
     </p>
      </div>

  </div>
</div> 


</div>
<!------------------------------------- google map-------------------------------------------------->
<div data-role="page"   id="google">

 <div data-role="panel" data-position-fixed="true" id="myPanelg" data-display="overlay" data-position="right">
    <img  width="162" height="77" class="imgpa" class="imgpa" src="img/{{logosazman}}">  
    <ul data-role="listview" class="right panels"  data-inset="false">  
     <li  data-icon="false"><a class="car3" ng-click="markaz('1')" href="#markaz" data-transition="fade">لیست شعب</a></li>
      <li  data-icon="false"><a class="car4" ng-click="bazdid('2')" href="#bazdids" data-transition="fade">لیست مراکز بازدید اولیه</a></li>
      <li  data-icon="false"><a class="pdf" ng-click="books('2')" href="#books" data-transition="fade">كتابخانه</a></li>
     <li  data-icon="false"><a class="filem"  href="#h_bime2" data-transition="fade">استعلام نرخ حق بيمه شخص ثالث</a></li>
     <li  data-icon="false"><a class="listm"  href="#yadavar" data-transition="fade">يادآوري تمديد بيمه نامه</a></li>
      <li  data-icon="false"><a class="listco"  href="#sherkat" data-transition="fade">راهنمای بازدید اولیه اتومبیل</a></li>
      <li  data-icon="false"><a onClick="cat(1)" ng-click="comp_id()" class="car" href="#mashinha" data-transition="fade">لیست خودرو ها</a></li>
      <li data-icon="false"><a onClick="cat(2)" class="add" href="#add" data-transition="fade">پیشنهاد افزودن خودرو</a></li>
      <li data-icon="false"><a  ng-click="showfaver()" class="favorite" href="#favert" data-transition="fade">لیست علاقه مندی ها</a></li>
      <li data-icon="false"><a onClick="cat(4)" class="contact" href="#contact" data-transition="fade">تماس با ما</a></li>
      <li data-icon="false"><a class="about" href="#about_us" data-transition="fade">درباره ما</a></li>
       
    </ul>
  </div> 

  <div data-role="header"  class="blue ">
   
 <a href="#favert"  ng-click="showfaver()" class="pad_ha" data-role="none"><img src="img/file.png"></a>
  <h1>برنا، دستيار بيمه اي شما</h1>
 <a href="#myPanelg" class="pad_ha" data-role="none"><img src="img/menu.png"></a>
  </div>
  
 <div data-role="main" class="ui-content" dir="rtl" >
    <h3 class="margint0">آدرس شعبه: {{ahobeadd}}</h3>
   <div id="map" style="width:100%;height:500px"></div>

<script>
function myMap() {
  var myCenter = new google.maps.LatLng(35.726205,51.419151);
  var mapCanvas = document.getElementById("map");
  var mapOptions = {center: myCenter, zoom:13};
  var map = new google.maps.Map(mapCanvas, mapOptions);
  var marker = new google.maps.Marker({position:myCenter});
  marker.setMap(map);
}
</script>
</div>

</div>

<!------------------------------------- tozihat -------------------------------------------------->
<div data-role="page"   id="tozihat">

 <div data-role="panel" data-position-fixed="true" id="myPanel3" data-display="overlay" data-position="right">
    <img width="162" height="77" class="imgpa" src="img/{{logosazman}}">  
    <ul data-role="listview" class="right panels"  data-inset="false">  
     <li  data-icon="false"><a class="car3" ng-click="markaz('1')" href="#markaz" data-transition="fade">لیست شعب</a></li>
      <li  data-icon="false"><a class="car4" ng-click="bazdid('2')" href="#bazdids" data-transition="fade">لیست مراکز بازدید اولیه</a></li>
      <li  data-icon="false"><a class="pdf" ng-click="books('2')" href="#books" data-transition="fade">كتابخانه</a></li>
     <li  data-icon="false"><a class="filem"  href="#h_bime2" data-transition="fade">استعلام نرخ حق بيمه شخص ثالث</a></li>
     <li  data-icon="false"><a class="listm"  href="#yadavar" data-transition="fade">يادآوري تمديد بيمه نامه</a></li>
      <li  data-icon="false"><a class="listco"  href="#sherkat" data-transition="fade">راهنمای بازدید اولیه اتومبیل</a></li>
      <li  data-icon="false"><a onClick="cat(1)" ng-click="comp_id()" class="car" href="#mashinha" data-transition="fade">لیست خودرو ها</a></li>
      <li data-icon="false"><a onClick="cat(2)" class="add" href="#add" data-transition="fade">پیشنهاد افزودن خودرو</a></li>
      <li data-icon="false"><a  ng-click="showfaver()" class="favorite" href="#favert" data-transition="fade">لیست علاقه مندی ها</a></li>
      <li data-icon="false"><a onClick="cat(4)" class="contact" href="#contact" data-transition="fade">تماس با ما</a></li>
      <li data-icon="false"><a class="about" href="#about_us" data-transition="fade">درباره ما</a></li>
       
    </ul>
  </div> 

  <div data-role="header" class="blue "> 
 <a  class="pad_ha" ng-click="faver(efaver,carid)" data-role="none"><img src="{{iconslike}}"></a>  
   <h1>برنا، دستيار بيمه اي شما</h1>
 <a href="#myPanel3" class="pad_ha" data-role="none"><img src="img/menu.png"></a>
  </div>

 <div data-role="main" class="ui-content" dir="rtl" ng-repeat="xc in carm | filter:{ ids: carid }">
    <!--<h2>لیست ماشین ها</h2>-->
    <div class="ui-grid-solo" >
 <div class="ui-block-a" style="height:185px;">
 <img src="{{xc.direct}}{{xc.pic}}" style="max-width:380px" height="100%">
 </div>
</div>
<div class=" gray_d right rooz">
<p class="fgreen tick"> {{xc.name}}</p> 
<p ng-repeat="xcom in company | filter:{ ids: xc.company }:true"><span class="fred infoe">شرکت سازنده: </span> {{xcom.name}}</p> 
<p><span class="fred info"> محل قرارگيري شماره شاسي:</span> {{xc.comment}}</p> 
<p> <span class="fred info">حق بيمه شخص ثالث (صفر كيلومتر): </span>{{xc.bime}} ریال</p> 
</div>
<a  href="#h_bime"  ng-click="used(xc.type)" class="ui-btn green ">محاسبه حق بيمه غير صفر</a>

  </div>


  <div data-role="popup" id="myone">
      <a href="#pageone" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a><img src="img/tick.png"  >
    </div>

   <div data-role="popup" id="mytwo" data-overlay-theme="b" data-theme="b">
      <a href="#pageone" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a><img src="img/tick.png"   >
    </div>
 
    <div data-role="popup" id="mythree" data-overlay-theme="b" data-theme="b">
      <a href="#pageone" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a><img src="img/tick.png"    >
    </div>
 
    <div data-role="popup" id="myfour"  data-overlay-theme="b" data-theme="b">
      <a href="#pageone" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a><img src="img/tick.png"   >
    </div>
 
    <div data-role="popup" data-overlay-theme="b" data-theme="b" id="myfive">
      <a href="#pageone" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a><img src="img/tick.png"   >
    </div>
 

<p class="red right last sinma"> تصاویر خودرو</p>

<div id="owl-demo" class="owl-carousel owl-theme">
<div class="item one dispno"   ><a href="#myone" data-rel="popup" data-position-to="window"><img src="images/not-found.png"  ></a></div>
<div class="item two dispno"   ><a href="#mytwo" data-rel="popup" data-position-to="window"><img src="images/not-found.png" ></a></div>
<div class="item three dispno" ><a href="#mythree" data-rel="popup" data-position-to="window"><img src="images/not-found.png" ></a></div>
<div class="item four dispno" ><a href="#myfour" data-rel="popup" data-position-to="window"><img src="images/not-found.png" ></a></div>
<div class="item five dispno" ><a href="#myfive" data-rel="popup" data-position-to="window"><img src="images/not-found.png" ></a></div>
<!--<div class="item"  ng-repeat="xc in picmi | filter:{ idcar: carid }"><img src="{{xc.direct}}{{xc.pic}}"></div>-->
</div>

  

</div>

<!------------------------------------- favert ha-------------------------------------------------->
<div data-role="page"   id="favert">

 <div data-role="panel" data-position-fixed="true" id="myPanel4" data-display="overlay" data-position="right">
    <img width="162" height="77" class="imgpa" src="img/{{logosazman}}">  
    <ul data-role="listview" class="right panels"  data-inset="false">  
     <li  data-icon="false"><a class="car3" ng-click="markaz('1')" href="#markaz" data-transition="fade">لیست شعب</a></li>
      <li  data-icon="false"><a class="car4" ng-click="bazdid('2')" href="#bazdids" data-transition="fade">لیست مراکز بازدید اولیه</a></li>
      <li  data-icon="false"><a class="pdf" ng-click="books('2')" href="#books" data-transition="fade">كتابخانه</a></li>
     <li  data-icon="false"><a class="filem"  href="#h_bime2" data-transition="fade">استعلام نرخ حق بيمه شخص ثالث</a></li>
     <li  data-icon="false"><a class="listm"  href="#yadavar" data-transition="fade">يادآوري تمديد بيمه نامه</a></li>
      <li  data-icon="false"><a class="listco"  href="#sherkat" data-transition="fade">راهنمای بازدید اولیه اتومبیل</a></li>
      <li  data-icon="false"><a onClick="cat(1)" ng-click="comp_id()" class="car" href="#mashinha" data-transition="fade">لیست خودرو ها</a></li>
      <li data-icon="false"><a onClick="cat(2)" class="add" href="#add" data-transition="fade">پیشنهاد افزودن خودرو</a></li>
      <li data-icon="false"><a  ng-click="showfaver()" class="favorite" href="#favert" data-transition="fade">لیست علاقه مندی ها</a></li>
      <li data-icon="false"><a onClick="cat(4)" class="contact" href="#contact" data-transition="fade">تماس با ما</a></li>
      <li data-icon="false"><a class="about" href="#about_us" data-transition="fade">درباره ما</a></li>
       
    </ul>
  </div> 

  <div data-role="header"  class="blue ">
 <a href="#add" class="pad_ha" data-role="none"><img src="img/plus-button.png"></a>    <h1>برنا، دستيار بيمه اي شما</h1>
 <a href="#myPanel4" class="pad_ha" data-role="none"><img src="img/menu.png"></a>
  </div>
  
 <div data-role="main" class="ui-content" dir="rtl" >
    <h2 class="margint0">لیست علاقه مندی ها</h2>
    <form class="ui-filterable">
      <input id="myFilters" data-type="search" placeholder="نام خودرو">
    </form>
   <ul data-role="listview" data-filter="true" data-input="#myFilters"  data-inset="false"  class="right listst"   >
 
 <li data-icon="false" class="ng-scope ui-li-has-thumb" ng-repeat="xc in myfaver">
        <a href="#tozihat" class="ui-btn" ng-click="cars_id(xc.ids)" data-transition="fade">
        <img width="72" height="72" src="{{xc.direct}}{{xc.pic}}">
        <h2>{{xc.name}}</h2>
        </a>
      </li>

    </ul>
  </div>
</div>

<!------------------------------------- ادآوري تمديد بيمه نامه-------------------------------------------------->
<div data-role="page"   id="yadavar">

 <div data-role="panel" data-position-fixed="true" id="myPanel5" data-display="overlay" data-position="right">
     <img width="162" height="77" class="imgpa" src="img/{{logosazman}}">  
    <ul data-role="listview" class="right panels"  data-inset="false">  
     <li  data-icon="false"><a class="car3" ng-click="markaz('1')" href="#markaz" data-transition="fade">لیست شعب</a></li>
      <li  data-icon="false"><a class="car4" ng-click="bazdid('2')" href="#bazdids" data-transition="fade">لیست مراکز بازدید اولیه</a></li>
      <li  data-icon="false"><a class="pdf" ng-click="books('2')" href="#books" data-transition="fade">كتابخانه</a></li>
     <li  data-icon="false"><a class="filem"  href="#h_bime2" data-transition="fade">استعلام نرخ حق بيمه شخص ثالث</a></li>
     <li  data-icon="false"><a class="listm"  href="#yadavar" data-transition="fade">يادآوري تمديد بيمه نامه</a></li>
      <li  data-icon="false"><a class="listco"  href="#sherkat" data-transition="fade">راهنمای بازدید اولیه اتومبیل</a></li>
      <li  data-icon="false"><a onClick="cat(1)" ng-click="comp_id()" class="car" href="#mashinha" data-transition="fade">لیست خودرو ها</a></li>
      <li data-icon="false"><a onClick="cat(2)" class="add" href="#add" data-transition="fade">پیشنهاد افزودن خودرو</a></li>
      <li data-icon="false"><a  ng-click="showfaver()" class="favorite" href="#favert" data-transition="fade">لیست علاقه مندی ها</a></li>
      <li data-icon="false"><a onClick="cat(4)" class="contact" href="#contact" data-transition="fade">تماس با ما</a></li>
      <li data-icon="false"><a class="about" href="#about_us" data-transition="fade">درباره ما</a></li>
       
    </ul>
  </div> 

  <div data-role="header" class="blue ">
 <a href="#sherkat" class="pad_ha" data-role="none"  data-rel="back"><img src="img/back.png"></a>
    <h1>برنا، دستيار بيمه اي شما</h1>
 <a href="#myPanel5" class="pad_ha" data-role="none"><img src="img/menu.png"></a>
  </div>

 <div data-role="main" class="ui-content" dir="rtl" >
 
      <p  >یادآوری تمديد بيمه نامه</p>
      
       <label>نام</label>
       <input ng-model="bime.sal"   type="text">
      <label>تاریخ پایان بيمه نامه</label>
       <input ng-model="bime.sal"  type="text">
      <label>شماره تماس</label>
       <input ng-model="bime.sal" type="text">
 
      <input id="bimod" class="green"  ng-click="mohasebe();" type="button" value="ثبت">
 
 
  </div>

</div>

<!------------------------------------- mohasebe hagh bime-------------------------------------------------->
<div data-role="page"   id="h_bime">

 <div data-role="panel" data-position-fixed="true" id="myPanel5u" data-display="overlay" data-position="right">
     <img width="162" height="77" class="imgpa" src="img/{{logosazman}}">  
    <ul data-role="listview" class="right panels"  data-inset="false">  
     <li  data-icon="false"><a class="car3" ng-click="markaz('1')" href="#markaz" data-transition="fade">لیست شعب</a></li>
      <li  data-icon="false"><a class="car4" ng-click="bazdid('2')" href="#bazdids" data-transition="fade">لیست مراکز بازدید اولیه</a></li>
      <li  data-icon="false"><a class="pdf" ng-click="books('2')" href="#books" data-transition="fade">كتابخانه</a></li>
     <li  data-icon="false"><a class="filem"  href="#h_bime2" data-transition="fade">استعلام نرخ حق بيمه شخص ثالث</a></li>
     <li  data-icon="false"><a class="listm"  href="#yadavar" data-transition="fade">يادآوري تمديد بيمه نامه</a></li>
      <li  data-icon="false"><a class="listco"  href="#sherkat" data-transition="fade">راهنمای بازدید اولیه اتومبیل</a></li>
      <li  data-icon="false"><a onClick="cat(1)" ng-click="comp_id()" class="car" href="#mashinha" data-transition="fade">لیست خودرو ها</a></li>
      <li data-icon="false"><a onClick="cat(2)" class="add" href="#add" data-transition="fade">پیشنهاد افزودن خودرو</a></li>
      <li data-icon="false"><a  ng-click="showfaver()" class="favorite" href="#favert" data-transition="fade">لیست علاقه مندی ها</a></li>
      <li data-icon="false"><a onClick="cat(4)" class="contact" href="#contact" data-transition="fade">تماس با ما</a></li>
      <li data-icon="false"><a class="about" href="#about_us" data-transition="fade">درباره ما</a></li>
       
    </ul>
  </div> 

  <div data-role="header" class="blue ">
 <a href="#sherkat" class="pad_ha" data-role="none"  data-rel="back"><img src="img/back.png"></a>
    <h1>برنا، دستيار بيمه اي شما</h1>
 <a href="#myPanel5u" class="pad_ha" data-role="none"><img src="img/menu.png"></a>
  </div>

 <div data-role="main" class="ui-content" dir="rtl" >
 <div id="loading"><img src="img/loader1.gif"></div>
<div id="showmm">
      <p  >جهت محاسبه حق بیمه شخص ثالث تمام موارد را تکمیل نمایید</p>
      <input style=" display: none;"  ng-model="user.id_car" type="text">
      

      
      <label for="sharh">مورد استفاده</label>
      <select id="sharh" ng-model="bime.used" >
      
      <option ng-repeat="xb in usedn" value="{{xb.ids}}">{{ xb.name}}</option>
      </select>
      <label>سال ساخت</label>
       <input ng-model="bime.sal" placeholder="1389" type="text">

       <label for="blue" class="ui-btn-icon-right">بیمه نامه سال قبل دارد</label>
       <input type="checkbox" name="favcolor"  ng-click="showso()" ng-model="bime.yes" id="blue" value="blue">
       <hr/> 
       <div id="showitme" style="display:none">
      <label>تاریخ انقضا بیمه نامه</label>
      <input ng-model="bime.engh" placeholder="1395/09/23"  id="datepp"  type="text">
      
      <label>سابقه ثالث مالی و جاني</label>
      <select data-icon="carat-d" ng-model="bime.mali"  >
      <option value="0">سابقه دارد بدون تخفیف عدم خسارت</option>
      <option value="1">يك سال عدم خسارت</option>
      <option value="2">دو سال عدم خسارت</option>
      <option value="3">سه سال عدم خسارت</option>
      <option value="4">چهار سال عدم خسارت</option>
      <option value="5">پنج سال عدم خسارت</option>
      <option value="6">شش سال عدم خسارت</option>
      <option value="7">هفت سال عدم خسارت</option>
      <option value="8">هشت سال و بيشتر عدم خسارت</option>
      <option value="-1">يك بار خسارت در سال گذشته</option>
      <option value="-2">دو بار خسارت در سال گذشته</option>
      <option value="-3">سه بار خسارت در سال گذشته</option>
      <option value="-4">چهار بار و بیشتر خسارت در سال گذشته</option>
      </select>
      
      <label>سابقه سرنشین</label>
      <select ng-model="bime.sarn"  >
      <option value="0">سابقه دارد بدون تخفیف عدم خسارت</option>
      <option value="1">يك سال عدم خسارت</option>
      <option value="2">دو سال عدم خسارت</option>
      <option value="3">سه سال عدم خسارت</option>
      <option value="4">چهار سال عدم خسارت</option>
      <option value="5">پنج سال عدم خسارت</option>
      <option value="6">شش سال عدم خسارت</option>
      <option value="7">هفت سال عدم خسارت</option>
      <option value="8">هشت سال و بيشتر عدم خسارت</option>
      <option value="-1">يك بار خسارت در سال گذشته</option>
      <option value="-2">دو بار خسارت در سال گذشته</option>
      <option value="-3">سه بار خسارت در سال گذشته</option>
      <option value="-4">چهار بار و بیشتر خسارت در سال گذشته</option>
      </select>
 </div>

      <input id="bimo" class="green"  ng-click="mohasebe();" type="button" value="محاسبه">
    <p id="showri" class="mohaseb" style=" text-align:center;">مبلغ حق بیمه :  </p>
    </div>
  </div>

</div>

<!------------------------------------- mohasebe hagh bime2-------------------------------------------------->
<div data-role="page"   id="h_bime2">

 <div data-role="panel" data-position-fixed="true" id="myPanel5r" data-display="overlay" data-position="right">
    <img width="162" height="77" class="imgpa" src="img/{{logosazman}}">  
    <ul data-role="listview" class="right panels"  data-inset="false">  
     <li  data-icon="false"><a class="car3" ng-click="markaz('1')" href="#markaz" data-transition="fade">لیست شعب</a></li>
      <li  data-icon="false"><a class="car4" ng-click="bazdid('2')" href="#bazdids" data-transition="fade">لیست مراکز بازدید اولیه</a></li>
      <li  data-icon="false"><a class="pdf" ng-click="books('2')" href="#books" data-transition="fade">كتابخانه</a></li>
     <li  data-icon="false"><a class="filem"  href="#h_bime2" data-transition="fade">استعلام نرخ حق بيمه شخص ثالث</a></li>
     <li  data-icon="false"><a class="listm"  href="#yadavar" data-transition="fade">يادآوري تمديد بيمه نامه</a></li>
      <li  data-icon="false"><a class="listco"  href="#sherkat" data-transition="fade">راهنمای بازدید اولیه اتومبیل</a></li>
      <li  data-icon="false"><a onClick="cat(1)" ng-click="comp_id()" class="car" href="#mashinha" data-transition="fade">لیست خودرو ها</a></li>
      <li data-icon="false"><a onClick="cat(2)" class="add" href="#add" data-transition="fade">پیشنهاد افزودن خودرو</a></li>
      <li data-icon="false"><a  ng-click="showfaver()" class="favorite" href="#favert" data-transition="fade">لیست علاقه مندی ها</a></li>
      <li data-icon="false"><a onClick="cat(4)" class="contact" href="#contact" data-transition="fade">تماس با ما</a></li>
      <li data-icon="false"><a class="about" href="#about_us" data-transition="fade">درباره ما</a></li>
       
    </ul>
  </div> 

  <div data-role="header" class="blue ">
 <a href="#sherkat" class="pad_ha" data-role="none"  data-rel="back"><img src="img/back.png"></a>
    <h1>برنا، دستيار بيمه اي شما</h1>
 <a href="#myPanel5r" class="pad_ha" data-role="none"><img src="img/menu.png"></a>
  </div>

 <div data-role="main" class="ui-content" dir="rtl" >
      <p  >جهت محاسبه حق بیمه شخص ثالث تمام موارد را تکمیل نمایید</p>
      <input style=" display: none;"  ng-model="user.id_car" type="text">
      <label for="groh">گروه وسیله نقلیه</label>
      <select id="groh" ng-model="bime2.groh" ng-change="noeevn(this)" >
      <option   value="1">موتور سیکلت</option>
      <option   value="2">سواری</option>
      <option   value="3">اتوکار</option>
      <option   value="4">راهسازی و کشاورزی</option>
      <option   value="5">بارکش</option>
      <option   value="6">یدک</option>
      </select>
      
       <div id="loadingo" style="display:none"><img src="img/loader1.gif"></div>
       <div id="noeevn">
       <label for="noee">نوع وسیله نقلیه</label>
      <select id="noee" ng-model="bime2.noee" >
      <option ng-repeat="xb in noeen" value="{{xb.ids}}">{{ xb.name}}</option>
      </select>
      
      <label for="sharhs">مورد استفاده</label>
      <select id="sharhs" ng-model="bime2.used" >
      <option ng-repeat="xb in usedn" value="{{xb.ids}}">{{xb.name}}</option>
      </select>
      </div>
      <label>سال ساخت</label> 
       <input ng-model="bime2.sal" placeholder="1389" type="text">

       <label for="blue2" class="ui-btn-icon-right">بیمه نامه سال قبل دارد</label>
       <input type="checkbox" name="favcolor"  ng-click="showso2()" ng-model="bime2.yes" id="blue2" value="blue">
       <hr/> 
       <div id="showitme2" style="display:none">
      <label>تاریخ انقضا بیمه نامه</label>
      <input ng-model="bime2.engh" id="datepp2" placeholder="1395/09/23"  type="text">
      
      <label>سابقه ثالث مالی و جاني</label>
      <select data-icon="carat-d" ng-model="bime2.mali"  >
      <option value="0">سابقه دارد بدون تخفیف عدم خسارت</option>
      <option value="1">يك سال عدم خسارت</option>
      <option value="2">دو سال عدم خسارت</option>
      <option value="3">سه سال عدم خسارت</option>
      <option value="4">چهار سال عدم خسارت</option>
      <option value="5">پنج سال عدم خسارت</option>
      <option value="6">شش سال عدم خسارت</option>
      <option value="7">هفت سال عدم خسارت</option>
      <option value="8">هشت سال و بيشتر عدم خسارت</option>
      <option value="-1">يك بار خسارت در سال گذشته</option>
      <option value="-2">دو بار خسارت در سال گذشته</option>
      <option value="-3">سه بار خسارت در سال گذشته</option>
      <option value="-4">چهار بار و بیشتر خسارت در سال گذشته</option>
      </select>
      
      <label>سابقه سرنشین</label>
      <select ng-model="bime2.sarn"  >
      <option value="0">سابقه دارد بدون تخفیف عدم خسارت</option>
      <option value="1">يك سال عدم خسارت</option>
      <option value="2">دو سال عدم خسارت</option>
      <option value="3">سه سال عدم خسارت</option>
      <option value="4">چهار سال عدم خسارت</option>
      <option value="5">پنج سال عدم خسارت</option>
      <option value="6">شش سال عدم خسارت</option>
      <option value="7">هفت سال عدم خسارت</option>
      <option value="8">هشت سال و بيشتر عدم خسارت</option>
      <option value="-1">يك بار خسارت در سال گذشته</option>
      <option value="-2">دو بار خسارت در سال گذشته</option>
      <option value="-3">سه بار خسارت در سال گذشته</option>
      <option value="-4">چهار بار و بیشتر خسارت در سال گذشته</option>
      </select>
 </div>

      <input id="bimo2" class="green"  ng-click="mohasebe2();" type="button" value="محاسبه">
    <p id="showri2" class="mohaseb" style=" text-align:center;">مبلغ حق بیمه :  </p>
    </div>
  </div>

<!------------------------------------- add ha-------------------------------------------------->
<div data-role="page"   id="add">

 <div data-role="panel" data-position-fixed="true" id="myPanel5n" data-display="overlay" data-position="right">
    <img width="162" height="77" class="imgpa" src="img/{{logosazman}}">  
    <ul data-role="listview" class="right panels"  data-inset="false">  
     <li  data-icon="false"><a class="car3" ng-click="markaz('1')" href="#markaz" data-transition="fade">لیست شعب</a></li>
      <li  data-icon="false"><a class="car4" ng-click="bazdid('2')" href="#bazdids" data-transition="fade">لیست مراکز بازدید اولیه</a></li>
      <li  data-icon="false"><a class="pdf" ng-click="books('2')" href="#books" data-transition="fade">كتابخانه</a></li>
     <li  data-icon="false"><a class="filem"  href="#h_bime2" data-transition="fade">استعلام نرخ حق بيمه شخص ثالث</a></li>
     <li  data-icon="false"><a class="listm"  href="#yadavar" data-transition="fade">يادآوري تمديد بيمه نامه</a></li>
      <li  data-icon="false"><a class="listco"  href="#sherkat" data-transition="fade">راهنمای بازدید اولیه اتومبیل</a></li>
      <li  data-icon="false"><a onClick="cat(1)" ng-click="comp_id()" class="car" href="#mashinha" data-transition="fade">لیست خودرو ها</a></li>
      <li data-icon="false"><a onClick="cat(2)" class="add" href="#add" data-transition="fade">پیشنهاد افزودن خودرو</a></li>
      <li data-icon="false"><a  ng-click="showfaver()" class="favorite" href="#favert" data-transition="fade">لیست علاقه مندی ها</a></li>
      <li data-icon="false"><a onClick="cat(4)" class="contact" href="#contact" data-transition="fade">تماس با ما</a></li>
      <li data-icon="false"><a class="about" href="#about_us" data-transition="fade">درباره ما</a></li>
       
    </ul>
  </div> 

  <div data-role="header" class="blue ">
 <a href="#sherkat" class="pad_ha" data-role="none"  data-rel="back"><img src="img/back.png"></a>
    <h1>برنا، دستيار بيمه اي شما</h1>
 <a href="#myPanel5n" class="pad_ha" data-role="none"><img src="img/menu.png"></a>
  </div>

 <div data-role="main" class="ui-content" dir="rtl" >
  <div data-role="main" class="ui-content">

      <p  > لطفاً در صورتي كه از خودروي جديدي بازديد مي كنيد كه اطلاعات آن در برنامه موجود نيست و يا در صورتي كه تصاوير بهتري از خودروهاي موجود در برنامه و محل قرارگيري شماره شاسي حك شده آنها تهيه نموده ايد، تصاوير مربوطه را به همراه نام خودرو براي استفاده در برنامه براي ما ارسال نمایید.</p>

       
      <input style=" display: none; " ng-model="user.company" type="text">

      <label>نام خودرو</label>
      <input ng-model="user.cars" type="text">
         <a  onclick="getPhotof(pictureSource.SAVEDPHOTOALBUM);" class="ui-btn ui-btn-inline ui-mini">انتخاب تصویر 1</a>
         <a  onclick="getPhotoy(pictureSource.SAVEDPHOTOALBUM);" class="ui-btn ui-btn-inline ui-mini">انتخاب تصویر 2</a>
         <a  onclick="getPhotod(pictureSource.SAVEDPHOTOALBUM);" class="ui-btn ui-btn-inline ui-mini">انتخاب تصویر 3</a>
         <a  onclick="getPhotos(pictureSource.SAVEDPHOTOALBUM);" class="ui-btn ui-btn-inline ui-mini">انتخاب تصویر 4</a>
         <div id="shoso" style=" display:block;">
         <img style="display:none; padding:15px" width="64" height="64" id="largeImage0" src="img/tick.png" />
         <img style="display:none; padding:15px" width="64" height="64" id="largeImage1" src="img/tick.png" />
         <img style="display:none; padding:15px" width="64" height="64" id="largeImage2" src="img/tick.png" />
         <img style="display:none; padding:15px" width="64" height="64" id="largeImage3" src="img/tick.png" />
         
      <input id="shoo"  ng-click="sendform();" type="button" value="ارسال">
     </div>
  </div>
</div>
</div>
<!------------------------------------- contact -------------------------------------------------->
<div data-role="page"   id="contact">

 <div data-role="panel" data-position-fixed="true" id="myPanel6" data-display="overlay" data-position="right">
    <img width="162" height="77" class="imgpa" src="img/{{logosazman}}">  
    <ul data-role="listview" class="right panels"  data-inset="false">  
     <li  data-icon="false"><a class="car3" ng-click="markaz('1')" href="#markaz" data-transition="fade">لیست شعب</a></li>
      <li  data-icon="false"><a class="car4" ng-click="bazdid('2')" href="#bazdids" data-transition="fade">لیست مراکز بازدید اولیه</a></li>
      <li  data-icon="false"><a class="pdf" ng-click="books('2')" href="#books" data-transition="fade">كتابخانه</a></li>
     <li  data-icon="false"><a class="filem"  href="#h_bime2" data-transition="fade">استعلام نرخ حق بيمه شخص ثالث</a></li>
     <li  data-icon="false"><a class="listm"  href="#yadavar" data-transition="fade">يادآوري تمديد بيمه نامه</a></li>
      <li  data-icon="false"><a class="listco"  href="#sherkat" data-transition="fade">راهنمای بازدید اولیه اتومبیل</a></li>
      <li  data-icon="false"><a onClick="cat(1)" ng-click="comp_id()" class="car" href="#mashinha" data-transition="fade">لیست خودرو ها</a></li>
      <li data-icon="false"><a onClick="cat(2)" class="add" href="#add" data-transition="fade">پیشنهاد افزودن خودرو</a></li>
      <li data-icon="false"><a  ng-click="showfaver()" class="favorite" href="#favert" data-transition="fade">لیست علاقه مندی ها</a></li>
      <li data-icon="false"><a onClick="cat(4)" class="contact" href="#contact" data-transition="fade">تماس با ما</a></li>
      <li data-icon="false"><a class="about" href="#about_us" data-transition="fade">درباره ما</a></li>
       
    </ul>
  </div> 

  <div data-role="header"  class="blue ">
 <a href="#add" class="pad_ha" data-role="none"><img src="img/plus-button.png"></a>    <h1>برنا، دستيار بيمه اي شما</h1>
 <a href="#myPanel6" class="pad_ha" data-role="none"><img src="img/menu.png"></a>
  </div>
  
 <div data-role="main" class="ui-content" dir="rtl" >

    <div class="md-toolbar-tools">
      <h2 class="md-flex colorw ">ارتباط با ما</h2>
    </div>

<p >كاربر گرامي شما مي توانيد از راه هاي زير با ما در تماس باشيد: <br>
<br />

وبسايت گروه برنا:<a href="#"  class="center acc colorw" onclick="window.open('http://www.borna-grp.ir', '_system');" >www.borna-grp.ir</a> <br><br />


كانال تلگرام: <a  href="#" class="center acc colorw"  onclick="window.open('https://telegram.me/bornagrp', '_system');" >bornagrp@</a> 
</p><br />
  </div>
</div>
<!------------------------------------- about_us -------------------------------------------------->
<div data-role="page"   id="about_us">

 <div data-role="panel" data-position-fixed="true" id="myPanel7" data-display="overlay" data-position="right">
    <img width="162" height="77" class="imgpa" src="img/{{logosazman}}">  
    <ul data-role="listview" class="right panels"  data-inset="false">  
     <li  data-icon="false"><a class="car3" ng-click="markaz('1')" href="#markaz" data-transition="fade">لیست شعب</a></li>
      <li  data-icon="false"><a class="car4" ng-click="bazdid('2')" href="#bazdids" data-transition="fade">لیست مراکز بازدید اولیه</a></li>
      <li  data-icon="false"><a class="pdf" ng-click="books('2')" href="#books" data-transition="fade">كتابخانه</a></li>
     <li  data-icon="false"><a class="filem"  href="#h_bime2" data-transition="fade">استعلام نرخ حق بيمه شخص ثالث</a></li>
     <li  data-icon="false"><a class="listm"  href="#yadavar" data-transition="fade">يادآوري تمديد بيمه نامه</a></li>
      <li  data-icon="false"><a class="listco"  href="#sherkat" data-transition="fade">راهنمای بازدید اولیه اتومبیل</a></li>
      <li  data-icon="false"><a onClick="cat(1)" ng-click="comp_id()" class="car" href="#mashinha" data-transition="fade">لیست خودرو ها</a></li>
      <li data-icon="false"><a onClick="cat(2)" class="add" href="#add" data-transition="fade">پیشنهاد افزودن خودرو</a></li>
      <li data-icon="false"><a  ng-click="showfaver()" class="favorite" href="#favert" data-transition="fade">لیست علاقه مندی ها</a></li>
      <li data-icon="false"><a onClick="cat(4)" class="contact" href="#contact" data-transition="fade">تماس با ما</a></li>
      <li data-icon="false"><a class="about" href="#about_us" data-transition="fade">درباره ما</a></li>
       
    </ul>
  </div> 

  <div data-role="header"  class="blue ">
 <a href="#add" class="pad_ha" data-role="none"><img src="img/plus-button.png"></a>    <h1>برنا، دستيار بيمه اي شما</h1>
 <a href="#myPanel7" class="pad_ha" data-role="none"><img src="img/menu.png"></a>
  </div>
  
 <div data-role="main" class="ui-content" dir="rtl" >

    <div class="md-toolbar-tools">
      <h2 class="md-flex colorw ">درباره ما</h2>
    </div>

<p class="md-padding">هدف از ایجاد گروه نرم افزاری برنا ، ارائه نرم افزارهای مطلوب بیمه ای و کاهش دغدغه مدیران، کارشناسان و نمایندگان شرکتهای بیمه می باشد با توجه به این اصل گروه برنا در سال 1394 تاسیس گردید.<br />

یکی از محصولات گروه برنا، نرم افزار راهنمای بازدید اولیه اتومبیل می باشد که کلیه کارشناسان صنعت بیمه می توانند شماره شاسی حک شده خودرو مورد نظر را به راحتی بیابند و دیگر دغدغه ای در خصوص بازدید اولیه اتومبیل نداشته باشند.<br>
داراي مجوز رسمي از وزارت فرهنگ و ارشاد اسلامي (شماره مجوز: ٢٠١١٥٢١٥)

</p><br>
  </div>
</div>

<!------------------------------------- online -------------------------------------------------->
<div data-role="page"   id="onlinee">

  <div data-role="header"  class="blue ">
 <a href="#sherkat" class="pad_ha" data-role="none"><img src="img/back.png"></a>    <h1>برنا، دستيار بيمه اي شما</h1>
  </div>
  
 <div data-role="main" class="ui-content" dir="rtl" >

    <div class="md-toolbar-tools">
      <h2 class="md-flex colorw ">اتصال به اینترنت برقرار نیست</h2>
    </div>

<p class="md-padding">لطفا اتصال خود را به اینترنت برقرار کنید.

</p><br>
  </div>
</div>

<!------------------------------------- help -------------------------------------------------->
<div data-role="page"   id="help">

 <div data-role="panel" data-position-fixed="true" id="myPanel9" data-display="overlay" data-position="right">
    <img width="162" height="77" class="imgpa" src="img/{{logosazman}}">  
    <ul data-role="listview" class="right panels"  data-inset="false">  
     <li  data-icon="false"><a class="car3" ng-click="markaz('1')" href="#markaz" data-transition="fade">لیست شعب</a></li>
      <li  data-icon="false"><a class="car4" ng-click="bazdid('2')" href="#bazdids" data-transition="fade">لیست مراکز بازدید اولیه</a></li>
      <li  data-icon="false"><a class="pdf" ng-click="books('2')" href="#books" data-transition="fade">كتابخانه</a></li>
     <li  data-icon="false"><a class="filem"  href="#h_bime2" data-transition="fade">استعلام نرخ حق بيمه شخص ثالث</a></li>
     <li  data-icon="false"><a class="listm"  href="#yadavar" data-transition="fade">يادآوري تمديد بيمه نامه</a></li>
      <li  data-icon="false"><a class="listco"  href="#sherkat" data-transition="fade">راهنمای بازدید اولیه اتومبیل</a></li>
      <li  data-icon="false"><a onClick="cat(1)" ng-click="comp_id()" class="car" href="#mashinha" data-transition="fade">لیست خودرو ها</a></li>
      <li data-icon="false"><a onClick="cat(2)" class="add" href="#add" data-transition="fade">پیشنهاد افزودن خودرو</a></li>
      <li data-icon="false"><a  ng-click="showfaver()" class="favorite" href="#favert" data-transition="fade">لیست علاقه مندی ها</a></li>
      <li data-icon="false"><a onClick="cat(4)" class="contact" href="#contact" data-transition="fade">تماس با ما</a></li>
      <li data-icon="false"><a class="about" href="#about_us" data-transition="fade">درباره ما</a></li>
       
    </ul>
  </div> 

  <div data-role="header"  class="blue ">
 <a href="#add" class="pad_ha" data-role="none"><img src="img/plus-button.png"></a>    <h1>برنا، دستيار بيمه اي شما</h1>
 <a href="#myPanel9" class="pad_ha" data-role="none"><img src="img/menu.png"></a>
  </div>
  
 <div data-role="main" class="ui-content" dir="rtl" >

    <div class="md-toolbar-tools">
      <h2 class="md-flex colorw "> راهنما</h2>
    </div>

    <p class="helpt">  حق بيمه شخص ثالث خودروها برمبناي خودروهاي صفر كيلومتر محاسبه گرديده است. </p>
    <p class="helpt">لطفاً در صورتي كه از خودروي جديدي بازديد مي كنيد كه اطلاعات آن در برنامه موجود نيست و يا در صورتي كه تصاوير بهتري از خودروهاي موجود در برنامه و محل قرارگيري شماره شاسي حك شده آنها تهيه نموده ايد، با استفاده از منوي سمت راست و انتخاب دكمه "خودروي جديد" تصاوير مربوطه را به همراه نام خودرو براي استفاده در برنامه براي ما ارسال فرماييد.</p>

 

  </div>
</div>
 <!--   <div class="app">
            <h1>PhoneGap</h1>
            <div id="deviceready" class="blink">
                <p class="event listening">Connecting to Device</p>
                <p class="event received">Device is Ready</p>
            </div>
        </div>
-->     

<style>
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;

}
</style>
    <script src="js/persianDatepicker.min.js"></script>
    <script>
        $("#datepp").persianDatepicker({        
        cellWidth: 40, 
        cellHeight: 32,
        fontSize: 14, 
    });
	 $("#datepp2").persianDatepicker({        
        cellWidth: 40, 
        cellHeight: 32,
        fontSize: 14, 
    });
    </script>
<script src="js/owl.carousel.js"></script>
        <script type="text/javascript">
            app.initialize();
  
$(document).ready(function(){
      $("#owl-demo").owlCarousel({
	itemsCustom : [
      [0, 2],
	  [450, 2],
	  [600, 2],
	  [700, 2],
	  [1000, 2],
	  [1200, 2],
	  [1400, 4],
	  [1600, 4]
	],
	pagination : false,
    navigation : false,
    autoHeight : false,
      autoPlay: 5000,
  });
});
        </script>
    </body>
</html>
